*.pyc
*.egg
.eggs/
.ipynb_checkpoints/
*.swp
*.egg-info/
.cache/
build/
*.DS_Store
.vscode/*
.idea/
magenta/scripts/chromedriver
magenta/scripts/chromedriver.log
magenta/scripts/crawl_dataset_from_musescore.ipynb
magenta/scripts/musescore_definition.ipynb
magenta/scripts/score.json
*.svg
magenta/scripts/downloads/*
magenta/scripts/*.png
*.exe
*.tar.gz
logs/*
runs
*.sf2
