roman
spacy[cuda]
mpipe
numba
FinnSyll
music21
miditoolkit
msaf
pebble
joblib
dvc
lyricwikia
dvc[ssh]
git+git://github.com/quadrismegistus/prosodic.git
scipy==1.2.0
mido
six
pyfluidsynth
sf2utils
pydub